.listImage-container {
  width: 25px;
  height: 25px;
  overflow: "hidden";
  margin-right: 20px;
}

.autoComplete-container {
  border-style: solid;
  border-color: inherit;
  padding: 15px;
  border-image: url("../../assets/graphic-assets/diablo-frame.png") 140 repeat;

  border-image-width: 150px;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 0;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35), inset 0px 0px 6px 20px rgba(0, 0, 0, 0.35);
}
