.one-socket {
  flex: 0 0 20px; /* explanation below */
  margin: 2px;
  display: block;
  min-block-size: 5px;
  max-width: 5px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(84, 84, 84, 0) 0%, rgba(32, 32, 32, 0.3) 60%, rgba(22, 22, 22, 0.4) 100%);
  border: 1px solid rgba(180, 180, 180, 0.377);
}

.one-socket.summary {
  flex: 0 0 6px;
  margin: 1px;
  min-block-size: 7px;
  max-width: 6px;
}

.socket-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 30px;
}

.background-image {
  position: relative;
  height: 40px;
  width: 40px;
  background-image: url("../../assets/item-art/no_image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
